n8n/workflow-1-envio-recordatorios.json
{
  "name": "Vitalis - Envio de Recordatorios WA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vitalis-recordatorios",
        "responseMode": "onReceived",
        "responseData": ""
      },
      "id": "node-wh-01",
      "name": "Webhook Vitalis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "vitalis-recordatorios"
    },
    {
      "parameters": {
        "jsCode": "// Extrae el array de turnos del body y prepara un item por cada uno\nconst body = $input.first().json.body;\nconst turnos = body.turnos || [];\nconst centroNombre = body.centro_nombre || 'el centro';\n\nreturn turnos.map(t => ({\n  json: {\n    turno_id:     t.turno_id,\n    to:           'whatsapp:+' + String(t.celular).replace(/^\\+/, ''),\n    from:         'whatsapp:+5493625456570',\n    nombre:       t.paciente_nombre,\n    fecha:        t.fecha.split('-').reverse().join('/'),\n    hora:         t.hora.substring(0, 5),\n    servicio:     t.servicio || '',\n    profesional:  t.profesional || '',\n    centro_nombre: centroNombre\n  }\n}));"
      },
      "id": "node-code-01",
      "name": "Preparar items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/REEMPLAZAR_CON_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $json.from }}"
            },
            {
              "name": "To",
              "value": "={{ $json.to }}"
            },
            {
              "name": "ContentSid",
              "value": "HX5111b578b335001ca7d64be9222aff02"
            },
            {
              "name": "ContentVariables",
              "value": "={{ JSON.stringify({ \"1\": $json.nombre, \"2\": $json.centro_nombre, \"3\": $json.fecha, \"4\": $json.hora, \"5\": $json.profesional, \"6\": $json.servicio }) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "node-twilio-01",
      "name": "Enviar WA Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "REEMPLAZAR_CON_NOMBRE_CREDENCIAL_TWILIO"
        }
      }
    }
  ],
  "connections": {
    "Webhook Vitalis": {
      "main": [
        [{ "node": "Preparar items", "type": "main", "index": 0 }]
      ]
    },
    "Preparar items": {
      "main": [
        [{ "node": "Enviar WA Twilio", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
