n8n/workflow-1-recordatorios-manual.json
{
  "name": "Vitalis - Recordatorios Manual",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recordatorios-manual",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-wh-manual",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst turnos = body.turnos ?? [];\nconst results = [];\nfor (const t of turnos) {\n  let cel = (t.celular ?? '').replace(/\\D/g, '');\n  if (cel.startsWith('0')) cel = cel.slice(1);\n  if (!cel.startsWith('54')) cel = '54' + cel;\n  if (cel.startsWith('54') && !cel.startsWith('549')) cel = '549' + cel.slice(2);\n  const [y, m, d] = (t.fecha ?? '').split('-');\n  const fechaFmt = `${d}/${m}`;\n  const hora = (t.hora ?? t.hora_inicio ?? '').substring(0, 5);\n  const prof = (t.profesional ?? '').split(',')[0].trim();\n  results.push({ json: {\n    turno_id: t.turno_id,\n    centro_id: body.centro_id,\n    to_whatsapp: 'whatsapp:+' + cel,\n    content_variables: JSON.stringify({ '1': t.paciente_nombre ?? '', '2': fechaFmt, '3': hora, '4': prof })\n  }});\n}\nreturn results;"
      },
      "id": "node-code-manual",
      "name": "Preparar Turnos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop-manual",
      "name": "Loop Turnos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{$env[\"TWILIO_ACCOUNT_SID\"]}}/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{Buffer.from($env[\"TWILIO_ACCOUNT_SID\"] + ':' + $env[\"TWILIO_AUTH_TOKEN\"]).toString('base64')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/x-www-form-urlencoded",
        "body": "=From={{encodeURIComponent($env[\"TWILIO_FROM_WHATSAPP\"])}}&To={{encodeURIComponent($json.to_whatsapp)}}&ContentSid={{encodeURIComponent($env[\"TWILIO_TEMPLATE_SID\"])}}&ContentVariables={{encodeURIComponent($json.content_variables)}}",
        "options": {}
      },
      "id": "node-twilio-manual",
      "name": "Twilio Enviar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {}
      },
      "id": "node-respond-manual",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 160]
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [[{ "node": "Preparar Turnos", "type": "main", "index": 0 }]]
    },
    "Preparar Turnos": {
      "main": [[{ "node": "Loop Turnos", "type": "main", "index": 0 }]]
    },
    "Loop Turnos": {
      "main": [
        [{ "node": "Twilio Enviar", "type": "main", "index": 0 }],
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
